/*STARTER CODE*/

/*
We have started some of the selectors for you.
For others we have provided hints on what the selectors should be.
There are some missing selectors.

Make sure to learn what the starter code does!!
*/

body{
  color: #000000;
  font-size: 16px;
  margin: 1.2em;
  font-family: 'Andika', sans-serif;
  background-image: url("../images/pigeon-background.JPEG"); /*Why doesn't this give me the image? Chnaged JPEG to jpg. still no luck. should it be to jpeg?*/
  background-color: #DDDDDD;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

main{
  margin-bottom: 100px;
}

h1{
  color: #c12258;
  font-size: 2em;
  text-align: center;
  line-height: 2;
}

caption{
  margin:5px 0px;
}

p{
  padding-top: 15px;
}

a{
  font-size: 16px;
  color: #B21F50;
  text-decoration-style: wavy;
}

table{
  border: 2px solid #000000;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.colhead{
  min-width: 125px;
  padding: 10px;
  background-color: #7e0820;
  color: #FFFFFF;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}

.rowhead{
  border-top: 2px solid #000000; /*Is this correct? Why does it appear thicker?*/
  border-right: 2px solid #000000;
}

td{
  text-align: center;
  border-top: 2px solid #000000;
  padding: 10px;
}

tr:nth-child(even){
  background-color: #D1D1D1;
}

/* tr{
  transition: all 1s ease;
} */

tr:hover{
  background-color: rgba(126, 8, 32, 0.25);
}

*:focus{
    border: 3px dashed #417243;
}

thead tr:first-child th:first-child{
  border-radius: 10px 0px 0px 0px;
}

thead tr:first-child th:last-child{
  border-radius: 0px 10px 0px 0px;
}

tbody tr:last-child th:first-child{
  border-bottom-left-radius: 10px;
}

tbody tr:last-child td:last-child{
  border-bottom-right-radius: 10px;
}

footer{
  width:100%;
  min-height: 75px;
  background: #000000;
  text-align:center;
  color: #FFFFFF;
  position: fixed;
  bottom: 0;
  margin-left: -1.2rem;
  /* add back negative margin value */
  padding-left: 1.2rem;
}
